body {
  font-family: "DM Sans", sans-serif;
}

body.menu-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  border: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}

.logo, .navigation-link, .made-btn, .products-btn, .product-link, .read-more-btn, .reviews a, .contacts-details, .our-locations-btn,
.franchise-btn {
  text-decoration: none;
  display: block;
}

.navigation-list, .btn-list, .products-list, .made-characteristic-list, .reviews-author-list, .contacts-list, .work-schedule, .contacts-btn {
  list-style: none;
}

.products, .made-section, .reviews {
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .products, .made-section, .reviews {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .products, .made-section, .reviews {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.buy-now-btn, .buy-now-tablet, .read-more-btn, .our-locations-btn,
.franchise-btn {
  height: 44px;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-radius: 22px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buy-now-btn:hover, .buy-now-tablet:hover, .read-more-btn:hover, .our-locations-btn:hover,
.franchise-btn:hover, .buy-now-btn:focus, .buy-now-tablet:focus, .read-more-btn:focus, .our-locations-btn:focus,
.franchise-btn:focus {
  background-color: #ecebeb;
}

.buy-now-btn::after, .buy-now-tablet::after, .read-more-btn::after, .our-locations-btn::after,
.franchise-btn::after {
  content: '';
  display: block;
  width: 6px;
  height: 9px;
  margin-left: 12px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.made-btn, .products-btn {
  height: 24px;
  padding-top: 6px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}

.made-btn:hover, .products-btn:hover, .made-btn:focus, .products-btn:focus {
  opacity: 0.7;
}

@media screen and (min-width: 1200px) {
  .made-btn, .products-btn {
    height: 40px;
    padding-top: 10px;
    padding-right: 23px;
    padding-left: 23px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.made-text, .made-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
}

@media screen and (max-width: 767px) {
  .made-text, .made-desc {
    width: 220px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .made-text, .made-desc {
    width: 340px;
    margin-left: 362px;
    font-size: 14px;
    line-height: 1.79;
  }
}

@media screen and (min-width: 1200px) {
  .made-text, .made-desc {
    margin-left: 587px;
    width: 463px;
  }
}

.contacts-list-cafe, .contacts-list-foodtruck {
  display: inline;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts-list-cafe, .contacts-list-foodtruck {
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts-city, .contacts-desc, .work-schedule-item, .work-time, .contacts-details {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
}

@media screen and (min-width: 768px) {
  .contacts-city, .contacts-desc, .work-schedule-item, .work-time, .contacts-details {
    font-size: 14px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-city, .contacts-desc, .work-schedule-item, .work-time, .contacts-details {
    font-size: 16px;
    line-height: 1.88;
  }
}

.subtitle {
  margin-bottom: 15px;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
}

.title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
  .title {
    margin-bottom: 39px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .products-subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
  .products-title {
    margin-bottom: 49px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
  z-index: 1;
}

.navigation-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.navigation-link:hover, .navigation-link:focus {
  color: #d41443;
}

.buy-now-btn {
  width: 209px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .buy-now-btn {
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 768px) {
  .buy-now-btn {
    width: 160px;
  }
}

.buy-now-tablet {
  display: none;
}

@media screen and (max-width: 767px) {
  .header {
    width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buy-now-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
  }
}

@media screen and (max-width: 1199px) {
  .menu-wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 502px;
    padding-top: 60px;
    background-color: #e17992;
    -webkit-filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  }
  .menu-btn {
    height: 20px;
    padding: 0;
    background-color: transparent;
  }
  .menu-btn .icon-close {
    display: none;
  }
  .menu-btn .icon-menu {
    fill: #d41443;
  }
  .menu-btn.is-open {
    margin-right: 28px;
    z-index: 1;
  }
  .menu-btn.is-open .icon-close {
    display: block;
  }
  .menu-btn.is-open .icon-menu {
    display: none;
  }
  .menu-wrapper.is-open {
    display: block;
  }
  .navigation-list-item {
    height: 42px;
    padding-top: 11px;
    padding-left: 21px;
    border: 1px solid #e18298;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    width: 700px;
    padding-top: 38px;
  }
  .menu-wrapper {
    height: 1020px;
  }
  .menu-btn {
    margin-left: 291px;
  }
  .menu-btn.is-open {
    position: absolute;
    top: 23px;
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 38px;
    padding-right: 35px;
    width: 100%;
    max-width: 1120px;
  }
  .menu-btn {
    display: none;
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation {
    margin-right: 110px;
  }
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 35px;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  height: 502px;
  background-repeat: no-repeat;
}

.hero-bcg {
  background-color: #ffb8ca;
}

.hero-title {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-title .hero-title-span {
  display: block;
  color: #d41443;
  font-size: 48px;
  line-height: 0.96;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-list li:not(:last-child) {
  margin-right: 8px;
}

.made-btn {
  color: #d41443;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.made-btn:hover, .made-btn:focus {
  background-color: #ecebeb;
}

.products-btn {
  color: #ffffff;
  background-color: #d41443;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.products-btn:hover, .products-btn:focus {
  background-color: #c7133e;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 320px;
    padding-top: 194px;
    background-image: url(../img/hero/ice-cream-mob.png), url(../img/hero/ellipse-mob.png);
    background-position: 117px bottom, right 83px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/ice-cream-mob2x.png), url(../img/hero/ellipse-mob2x.png);
  }
}

@media screen and (max-width: 767px) {
  .hero-title {
    margin-bottom: 19px;
  }
  .hero-title br {
    display: block;
  }
  .hero-subtitle {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-subtitle {
    display: block;
    width: 114px;
    margin-top: 66px;
    margin-left: 120px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    height: 399px;
    width: 768px;
    padding-top: 102px;
    background-image: url(../img/hero/girl-tab.png), url(../img/hero/ice-cream-tab.png), url(../img/hero/ellipse-tab.png), url(../img/hero/mug-of-milk-tab.png), url(../img/hero/img-16-tab.png), url(../img/hero/img-23-tab.png);
    background-position: 566px bottom, 378px bottom, 307px 31px, 34px 245px, 691px 94px, 683px 151px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/girl-tab2x.png), url(../img/hero/ice-cream-tab2x.png), url(../img/hero/ellipse-tab2x.png), url(../img/hero/mug-of-milk-tab2x.png), url(../img/hero/img-16-tab2x.png), url(../img/hero/img-23-tab2x.png);
    background-size: 168px, 143px, 324px, 124px, 43px, 51px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-title {
    font-size: 22px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
  .hero-title .hero-title-span {
    font-size: 34px;
    line-height: 0.91;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 665px;
    max-width: 1280px;
    padding-top: 171px;
    background-image: url(../img/hero/girl-des.png), url(../img/hero/ice-cream-des.png), url(../img/hero/ellipse-des.png), url(../img/hero/mug-of-milk-des.png), url(../img/hero/img-16-des.png), url(../img/hero/img-23-des.png);
    background-position: 878px bottom, 594px bottom, 475px 52px, 77px 429px, 1111px 156px, 1091px 248px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/girl-des2x.png), url(../img/hero/ice-cream-des2x.png), url(../img/hero/ellipse-des2x.png), url(../img/hero/mug-of-milk-des2x.png), url(../img/hero/img-16-des2x.png), url(../img/hero/img-23-des2x.png);
    background-size: 293px, 236px, 538px, 188px, 72px, 92px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 38px;
    line-height: 1.16;
    margin-bottom: 25px;
  }
  .hero-title .hero-title-span {
    font-size: 58px;
    line-height: 0.9;
  }
  .hero-subtitle {
    width: 200px;
    margin-top: 112px;
    margin-left: 180px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.products {
  text-align: center;
}

.products .title {
  margin-bottom: 144px;
}

.products-item {
  position: relative;
  border-radius: 24px;
  padding-top: 161px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.products-item.ice-cream {
  background-color: #ffb8ca;
}

.products-item.ice-coffee {
  background-color: #f0d1a5;
}

.products-item.milkshake {
  background-color: #c2e297;
}

.product-img {
  position: absolute;
  top: -113px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.products-item-title {
  margin-bottom: 25px;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.products-item-text {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  overflow: hidden;
  color: #ffffff;
}

.product-link {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .products-item:not(:last-child) {
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .products .title {
    margin-bottom: 150px;
  }
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products-item {
    width: calc(100% / 3 - 20px);
    padding-top: 152px;
    padding-right: 23px;
    padding-left: 23px;
  }
  .products-item-text {
    margin-bottom: 40px;
    line-height: 1.76;
  }
}

@media screen and (min-width: 1200px) {
  .products .title {
    margin-bottom: 259px;
  }
  .products-item {
    width: calc(100% / 3 - 27px);
    padding-top: 163px;
    padding-right: 44px;
    padding-bottom: 50px;
    padding-left: 44px;
  }
  .product-img {
    top: -210px;
  }
  .products-item-title {
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 1.13;
  }
  .products-item-text {
    margin-top: 28px;
    height: 106px;
    margin-bottom: 60px;
    font-size: 16px;
  }
}

.made-section {
  background-color: #fff5f6;
  background-repeat: no-repeat;
}

.made-text {
  margin-bottom: 30px;
  color: #000000;
}

.made-desc {
  color: #907e82;
}

.read-more-btn {
  width: 176px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.29;
}

.made-characteristic-number {
  margin-top: 16px;
  margin-bottom: 19px;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.made-characteristic-desc {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .made-section {
    background-image: url(../img/made/cow-mob.png), url(../img/made/milk-mob.png);
    background-position: center 263px, center 766px;
    background-size: 280px, 100%;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .made-section {
    background-image: url(../img/made/cow-mob2x.png), url(../img/made/milk-mob2x.png);
  }
}

@media screen and (max-width: 767px) {
  .made-text {
    margin-top: 350px;
  }
  .made-desc {
    margin-bottom: 17px;
  }
  .read-more-btn {
    margin-bottom: 39px;
  }
  .made-characteristic-item:not(:last-child) {
    margin-bottom: 38px;
  }
  .made-characteristic-desc {
    max-width: 230px;
  }
}

@media screen and (min-width: 768px) {
  .made-section {
    padding-bottom: 140px;
  }
  .made-section .title br {
    display: none;
  }
  .made-section-wrapper {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/made/cow-tab.png);
    background-repeat: no-repeat;
    background-position: left 159px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .made-section-wrapper {
    background-image: url(../img/made/cow-tab2x.png);
    background-size: 340px;
  }
}

@media screen and (min-width: 768px) {
  .made-text {
    margin-top: 100px;
  }
  .made-desc {
    margin-bottom: 62px;
  }
  .read-more-btn {
    margin-bottom: 66px;
  }
  .made-characteristic-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .made-characteristic-item {
    width: 180px;
  }
  .made-characteristic-item:not(:last-child) {
    margin-right: 60px;
  }
  .made-characteristic-number {
    font-size: 48px;
  }
  .made-characteristic-desc {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1200px) {
  .made-section {
    background-image: url(../img/made/milk-des.png);
    background-position: center 342px;
    background-size: 1282px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .made-section {
    background-image: url(../img/made/milk-des2x.png);
    background-size: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .made-section-wrapper {
    width: 1050px;
    background-image: url(../img/made/cow-des.png);
    background-position: left 168px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .made-section-wrapper {
    background-image: url(../img/made/cow-des2x.png);
    background-size: 516px;
  }
}

@media screen and (min-width: 1200px) {
  .made-text {
    font-size: 16px;
    line-height: 1.75;
  }
  .made-desc {
    margin-bottom: 45px;
    line-height: 1.93;
  }
  .read-more-btn {
    margin-left: 627px;
    margin-bottom: 146px;
  }
  .made-characteristic-item {
    width: 330px;
  }
  .made-characteristic-item:not(:last-child) {
    margin-right: 30px;
  }
  .made-characteristic-number {
    font-size: 58px;
  }
  .made-characteristic-desc {
    font-size: 16px;
    line-height: 1.75;
  }
}

.slider {
  width: 100%;
}

.reviews {
  padding-bottom: 170px;
  text-align: center;
}

.user-img {
  margin-right: auto;
  margin-bottom: 29px;
  margin-left: auto;
}

.reviews-desc {
  margin-bottom: 30px;
  color: #000000;
  background-color: #fafafa;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  letter-spacing: 0.04em;
  background-repeat: no-repeat;
}

.reviews-author {
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.reviews-author-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-author-list li:not(:last-child) {
  margin-right: 18px;
}

.reviews-author-link,
.reviews-author-link {
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.reviews-author-link svg,
.reviews-author-link svg {
  fill: #d9d9d9;
}

.reviews-author-link:hover, .reviews-author-link:focus,
.reviews-author-link:hover,
.reviews-author-link:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.reviews-author-link:hover svg, .reviews-author-link:focus svg,
.reviews-author-link:hover svg,
.reviews-author-link:focus svg {
  fill: #d31342;
}

@media screen and (max-width: 767px) {
  .reviews {
    padding-bottom: 197px;
  }
  .reviews-desc {
    padding-top: 43px;
    padding-right: 66px;
    padding-bottom: 26px;
    padding-left: 57px;
    background-image: url(../img/reviews/quotes.png), url(../img/reviews/underline-mob.png), url(../img/reviews/underline-mob.png), url(../img/reviews/underline-mob.png), url(../img/reviews/underline-mob.png), url(../img/reviews/underline-mob.png), url(../img/reviews/underline-mob.png), url(../img/reviews/underline-mob.png), url(../img/reviews/underline-mob.png);
    background-position: 61px 28px, 50px 71px, 50px 102px, 50px 133px, 50px 164px, 50px 195px, 50px 226px, 50px 257px, 50px 288px;
  }
  .reviews-author {
    margin-top: 18px;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 1.86;
    color: #000000;
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 234px;
  }
  .user-img {
    margin-bottom: 19px;
  }
  .reviews-desc {
    width: 620px;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
    padding-top: 47px;
    padding-left: 80px;
    padding-bottom: 34px;
    padding-right: 80px;
    font-size: 14px;
    line-height: 2.14;
    background-image: url(../img/reviews/quotes.png), url(../img/reviews/underline-tab.png), url(../img/reviews/underline-tab.png), url(../img/reviews/underline-tab.png);
    background-position: 40px 30px, 60px 76px, 60px 106px, 60px 136px;
  }
  .reviews-author {
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.87;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-desc {
    width: 926px;
    margin-bottom: 15px;
    padding-top: 47px;
    padding-left: 87px;
    padding-bottom: 39px;
    padding-right: 89px;
    background-image: url(../img/reviews/quotes.png), url(../img/reviews/underline-des.png), url(../img/reviews/underline-des.png);
    background-position: 50px 32px, 59px 75.5px, 59px 106px;
  }
  .reviews-author {
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.85;
  }
}

.contacts {
  position: relative;
  padding-top: 1291px;
  background-color: #fff5f6;
}

.contacts-list {
  position: absolute;
  top: -84px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contacts-item {
  padding-top: 43px;
  padding-right: 21px;
  padding-bottom: 43px;
  padding-left: 20px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: #ffffff;
}

.contacts-list-cafe {
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  background-color: #f0d1a5;
}

.contacts-list-foodtruck {
  padding-left: 27px;
  padding-right: 27px;
  border-radius: 4px;
  background-color: #c2e297;
}

.contacts-city {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #000000;
}

.contacts-desc {
  margin-bottom: 25px;
  line-height: 1.5;
  color: #907e82;
}

.work-schedule {
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.work-schedule-item:not(:last-child) {
  margin-bottom: 10px;
}

.work-time {
  display: block;
  color: #ffa5ba;
}

.contacts-details {
  line-height: 1.5;
  color: #907e82;
}

.our-locations-btn,
.franchise-btn {
  width: 161px;
  margin-left: auto;
  margin-right: auto;
}

.our-locations-btn {
  color: #ffffff;
  background-color: #d41342;
}

.our-locations-btn::after {
  background-image: url(../img/white-arrow.png);
  height: 10px;
}

.our-locations-btn:hover {
  background-color: #c7133e;
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .contacts-item {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .contacts-btn li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 547px;
  }
  .contacts-list {
    width: 700px;
    top: -84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts-item {
    width: 220px;
    padding-top: 50px;
    padding-right: 32px;
    padding-bottom: 50px;
    padding-left: 31px;
  }
  .contacts-list-cafe {
    padding-left: 15px;
    padding-right: 15px;
  }
  .contacts-list-foodtruck {
    padding-left: 18px;
    padding-right: 18px;
  }
  .contacts-city {
    margin-top: 30px;
    margin-bottom: 14px;
  }
  .contacts-desc {
    margin-bottom: 30px;
    line-height: 1.64;
  }
  .work-schedule {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .work-schedule-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .contacts-details {
    line-height: 1.83;
  }
  .contacts-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts-btn li:not(:last-child) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 556px;
  }
  .contacts-item {
    width: 330px;
    padding-top: 54px;
    padding-right: 40px;
    padding-bottom: 62px;
    padding-left: 44px;
  }
  .contacts-list {
    width: 1050px;
    top: -102px;
  }
  .contacts-city {
    margin-top: 32px;
    margin-bottom: 10px;
  }
  .contacts-desc {
    margin-bottom: 32px;
    line-height: 1.81;
  }
  .work-schedule {
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .work-schedule-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .contacts-details {
    line-height: 1.81;
  }
}
/*# sourceMappingURL=main.css.map */