.footer {
  padding-top: 22px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  background-color: $section-bcg-color;
  text-align: center;
}

.footer-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $gray-text-color;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 29px;
    padding-bottom: 18px;

    br {
      display: none;
    }
  }

  .footer-info {
    line-height: 1.86;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
