.hero {
  margin-left: auto;
  margin-right: auto;
  height: 502px;
  background-repeat: no-repeat;
}

.hero-bcg {
  background-color: #ffb8ca;
}

.hero-title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-text-color;

  .hero-title-span {
    display: block;
    color: $main-text-color;
    font-size: 48px;
    line-height: 0.96;
  }
}

.buy-now-tablet {
  display: none;
}

.btn-list {
  @extend %list;

  display: flex;

  li:not(:last-child) {
    margin-right: 8px;
  }
}

.made-btn {
  @extend %link;
  @extend %button;

  color: $main-text-color;
  background-color: $white-text-color;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: $accent-white-color;
  }
}

.products-btn {
  @extend %link;
  @extend %button;

  color: $white-text-color;
  background-color: $main-text-color;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 320px;
    padding-top: 194px;
    background-image: url(../img/hero/ice-cream-mob.png), url(../img/hero/ellipse-mob.png);
    background-position: 117px bottom, right 83px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/ice-cream-mob2x.png), url(../img/hero/ellipse-mob2x.png);
    }
  }

  .hero-title {
    margin-bottom: 19px;

    br {
      display: block;
    }
  }

  .hero-subtitle {
    display: none;
  }
}

@media screen and(min-width:768px) {
  .hero-subtitle {
    display: block;
    width: 114px;
    margin-top: 66px;
    margin-left: 120px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: $white-text-color;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    height: 399px;
    width: 768px;
    padding-top: 102px;

    background-image: url(../img/hero/girl-tab.png), url(../img/hero/ice-cream-tab.png),
      url(../img/hero/ellipse-tab.png), url(../img/hero/mug-of-milk-tab.png),
      url(../img/hero/img-16-tab.png), url(../img/hero/img-23-tab.png);

    background-position: 566px bottom, 378px bottom, 307px 31px, 34px 245px, 691px 94px, 683px 151px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/girl-tab2x.png), url(../img/hero/ice-cream-tab2x.png),
        url(../img/hero/ellipse-tab2x.png), url(../img/hero/mug-of-milk-tab2x.png),
        url(../img/hero/img-16-tab2x.png), url(../img/hero/img-23-tab2x.png);
      background-size: 168px, 143px, 324px, 124px, 43px, 51px;
    }
  }

  .buy-now-tablet {
    display: block;
  }

  .hero-title {
    font-size: 22px;
    line-height: 1.14;
    margin-bottom: 20px;

    .hero-title-span {
      font-size: 34px;
      line-height: 0.91;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 665px;
    max-width: 1280px;
    padding-top: 171px;

    background-image: url(../img/hero/girl-des.png), url(../img/hero/ice-cream-des.png),
      url(../img/hero/ellipse-des.png), url(../img/hero/mug-of-milk-des.png),
      url(../img/hero/img-16-des.png), url(../img/hero/img-23-des.png);

    background-position: 878px bottom, 594px bottom, 475px 52px, 77px 429px, 1111px 156px,
      1091px 248px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/girl-des2x.png), url(../img/hero/ice-cream-des2x.png),
        url(../img/hero/ellipse-des2x.png), url(../img/hero/mug-of-milk-des2x.png),
        url(../img/hero/img-16-des2x.png), url(../img/hero/img-23-des2x.png);
      background-size: 293px, 236px, 538px, 188px, 72px, 92px;
    }
  }

  .hero-title {
    font-size: 38px;
    line-height: 1.16;
    margin-bottom: 25px;

    .hero-title-span {
      font-size: 58px;
      line-height: 0.9;
    }
  }

  .hero-subtitle {
    width: 200px;
    margin-top: 112px;
    margin-left: 180px;
    font-size: 14px;
    line-height: 1.43;
  }
}
