.subtitle {
  margin-bottom: 15px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
}

.title {
  // margin-bottom: 31px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $main-text-color;
}

@media screen and(min-width:768px) {
  .subtitle {
    font-size: 26px;
    line-height: 1.15;
  }

  .title {
    margin-bottom: 39px;
    font-size: 48px;
  }
}

@media screen and(min-width:1200px) {
  .products-subtitle {
    font-size: 30px;
    line-height: 1.13;
  }

  .products-title {
    margin-bottom: 49px;
    font-size: 58px;
    line-height: 1.14;
  }
}
