%link {
  text-decoration: none;
  display: block;
}

%list {
  list-style: none;
}

%section {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and(min-width:768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

%main-button {
  height: 44px;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-radius: 22px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 250ms linear;

  display: flex;
  align-items: baseline;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &::after {
    content: '';
    display: block;
    width: 6px;
    height: 8px;
    margin-left: 12px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

%button {
  height: 24px;
  padding-top: 6px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  @media screen and(min-width:1200px) {
    height: 40px;
    padding-top: 10px;
    padding-right: 23px;
    padding-left: 23px;
    font-size: 14px;
    line-height: 1.29;
  }
}

%made-text-style {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;

  @media screen and(max-width:767px) {
    width: 220px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and(min-width:768px) {
    width: 340px;
    margin-left: 362px;
    font-size: 14px;
    line-height: 1.79;
  }

  @media screen and(min-width:1200px) {
    margin-left: 587px;
    width: 463px;
  }
}
